.header-color {
  background: #304352;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #d7d2cc, #304352);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #d7d2cc, #304352); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
transition-duration: .5 s;
opacity: 1;
transition: 1s opacity;
}

.drawer-color{
  background: #304352;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #d7d2cc, #304352);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #d7d2cc, #304352); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.header-color.fade-out{
  opacity: 0;
  transition: none;
}

.landing-grid {
  background: #304352;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #d7d2cc, #304352);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #d7d2cc, #304352); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.projects-grid {
  display: flex;
}

.headshot-img{
  height: 250px;
  padding-top: 5em;
}

.banner-text{
  background-color: black;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
  height: 40%;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}

.specialEffects:hover{
  transition-duration: .5s;
  transition-timing-function: ease-in;
  color: white ;
  background-color: #5fc5ee;
  height: 90px;
  border-radius:50%;
  width: 90px;
  opacity:2;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
  border: 2px solid white;
  height: 70px;
  border-radius:50%;
  width: 70px;
  opacity:1;
}

/* About Me Page CSS */
.pheadshot-img {
  height: 250px;
}

.aboutme-grid {
  background: #304352;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #d7d2cc, #304352);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #d7d2cc, #304352); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  text-align: center;
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;

}

.aboutme-grid h1 {

  color: white;
  transition: color 0.2s ease-out 0s;
  font-size: 3.5em;

}

.aboutme-body  {
  font-family: 'Roboto', sans-serif;
  color: white;

  background-color: black;
  opacity: .8;
  margin: auto;
  border-radius: 10px;
}

.aboutme-body h1 {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 4em;
}

.aboutme-grid p {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 1.1em;
}

.aboutme-grid hr{
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;

}

/* contact page css */
.contact-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: 'Roboto', sans-serif;
}

.contact-grid p {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

.contact-grid hr{
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i{
  font-size: 66px;
  padding-right: 5rem;
}
