
/* Landing Page css*/
.container-fluid {
  background: #304352;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #d7d2cc, #304352);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #d7d2cc, #304352); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  overflow-x: hidden;
}


.header-color {
  background: #304352;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #d7d2cc, #304352);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #d7d2cc, #304352); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.drawer-color{
  background: #304352;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #d7d2cc, #304352);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #d7d2cc, #304352); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100%;
}

/*.landing-grid {

  background: #304352;
  background: -webkit-linear-gradient(to left, #d7d2cc, #304352);
  background: linear-gradient(to left, #d7d2cc, #304352);
  text-align: center;
  width: 100%;
  height: 100%;

}*/

.banner-text h1{
  color: white;
  font-size: 66px;
  text-shadow: 2px 2px 4px #073d45;
  padding-top: 1.5vw;
  padding: 5px;
  margin: 0px auto 0px auto;
  background-size: 50% auto;
  position: relative;
  background: none;
  font-weight: bold;
  transition:color 0.8s ease;
  text-align: center;
  display: table;
}

.banner-text h1::after{

  position: absolute;
  top:0;
  left: 0;
  width: 0;
  content: '';
  height: 100%;
  background-color: #5fc5ee;
  transform-origin:left;
  transition:width 1s ease;
  z-index:-1;

}

.banner-text h1:hover::after {

  width: 100%;

}

.banner-text h1:hover {

  color: white;
  transition: transform 1s ease-out;

}

.headshot-img{

  height: 25rem;
  width: 30rem;
  padding-top: 1em;
  padding-bottom: 1em;
  max-width: 100%;
  max-height: 100%;
}

.banner-text{
  background-color: black;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
  height: 330px;
}


.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;

}

.specialEffects:hover{
  transition-duration: .5s;
  transition-timing-function: ease-in;
  color: white ;
  background-color: #5fc5ee;
  border-radius:50%;
  opacity:2;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 60vw;
  margin: .3vw;
  padding-left: 15vw;

}

.social-links i {
  color: white;
  font-size: 3.8vw;
  padding: 1vw;
  border: 2px solid white;
  border-radius:50%;
  opacity:1;
}

/* Media Queries */

@media (max-width: 740px) {
    .banner-text h1{
      color: white;
      font-size: 3em;
      text-shadow: 2px 2px 4px #073d45;
      padding-top: 1.5vw;
      padding: 5px;
      margin: 0px auto 0px auto;
      background-size: 50% auto;
      position: relative;
      background: none;
      font-weight: bold;
      transition:color 0.8s ease;
      text-align: center;
      display: table;
    }
}

/* About Me Page CSS */
.pHeadshot-img {
  height: 28em;
  margin-top: 1em;
  objectFit: contain;
}

.aboutme-body  {
  font-family: 'Roboto', sans-serif;
  color: white;
  background-color: black;
  padding: .5rem;
  opacity: .8;
  border-radius: 10px;
}

.aboutme-body h1 {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 3em;
}


/* media queries */
@media (max-width: 740px) {
    .aboutme-body {
        margin-top: 5vw;
        width: 70vw;
        margin-left: 5vw;
    }
}

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up)
@media (min-width: 992px) { }

/*  Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }

/* projects page css */

.projects-grid {
  display: flex;
  position: relative;
  top: 5px;
  height: 100%;
  background: #304352;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #d7d2cc, #304352);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #d7d2cc, #304352); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.category-tabs{

  background: #304352;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #d7d2cc, #304352);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #d7d2cc, #304352); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.mdl-layout_content{
  background: #304352;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #d7d2cc, #304352);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #d7d2cc, #304352); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/* Contact Page */

.MDBcontainer-color{
  background: #304352;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #d7d2cc, #304352);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #d7d2cc, #304352); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.formborder{
  border-radius: 25px;
  border: 2px solid white;
  padding: 5rem;

}

/* Success Page */

.modal-confirm {
  color: #636363;
  width: 325px;
}
.modal-confirm .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
}
.modal-confirm .modal-header {
  border-bottom: none;
      position: relative;
}
.modal-confirm h4 {
  text-align: center;
  font-size: 26px;
  margin: 30px 0 -15px;
}
.modal-confirm .form-control, .modal-confirm .btn {
  min-height: 40px;
  border-radius: 3px;
}
.modal-confirm .close {
      position: absolute;
  top: -5px;
  right: -5px;
}
.modal-confirm .modal-footer {
  border: none;
  text-align: center;
  border-radius: 5px;
  font-size: 13px;
}
.modal-confirm .icon-box {
  color: #fff;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -70px;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  z-index: 9;
  background: #82ce34;
  padding: 15px;
  text-align: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal-confirm .icon-box i {
  font-size: 58px;
  position: relative;
  top: 3px;
}
.modal-confirm.modal-dialog {
  margin-top: 80px;
}
  .modal-confirm .btn {
      color: #fff;
      border-radius: 4px;
  background: #82ce34;
  text-decoration: none;
  transition: all 0.4s;
      line-height: normal;
      border: none;
  }
.modal-confirm .btn:hover, .modal-confirm .btn:focus {
  background: #6fb32b;
  outline: none;
}
.trigger-btn {
  display: inline-block;
  margin: 100px auto;
}
